@model IEnumerable<Finance_Tracker.Models.Transaction>

@{
    ViewData["PageTitle"] = "Transactions";
    ViewData["PageActionText"] = "+ New Transaction";
    ViewData["PageActionUrl"] = "/Transaction/AddOrEdit";
}

<div class="row">
    <div class="col-md-7 mb-1 d-flex">
        <button id="importButton" class="btn btn-primary">
            <i class="fa-solid fa-file-import"></i> Import Transactions
        </button>
        <form id="uploadForm">
            @Html.AntiForgeryToken()
            <input type="file" id="fileInput" style="display: none;" accept=".csv" onchange="uploadFile(this)" />
        </form>
        <div id="errorContainer" class="text-danger fs-6" style="display: none;"></div>

        <a href="@Url.Action("ExportTransactionsToCsv", "Transaction")" class="btn btn-primary ms-1">
            <i class="fa-solid fa-file-export"></i> Export Transactions
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-7">
        <ejs-grid id="transactions" dataSource="@Model" gridLines="None" allowSorting="true" allowPaging="true">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Category" field="CategoryTitleWithIcon"></e-grid-column>
                <e-grid-column headerText="Date" field="Date" width="150px" format="dd-MMM-yyyy" type="date" textAlign="Left"></e-grid-column>
                <e-grid-column headerText="Amount" field="FormattedAmount" width="150px" textAlign="Right"></e-grid-column>
                <e-grid-column headerText="Actions" template="#actionColumnTemplate" width="100px"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>

    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-money-bill-transfer fa-2xl"></i>
        </div>
    </div>

</div>



<script id="actionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sm no-a-decoration " href="/Transaction/AddOrEdit/${TransactionId}">
            <i class="fa-solid fa-pen fa-lg"></i>
        </a>
        <form action="/Transaction/Delete/${TransactionId}" method="post">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-sm btn-link no-a-decoration" onclick="return confirm(&quot;Are you sure to delete this transaction?&quot;)">
                <i class="fa-solid fa-trash-can fa-lg text-danger" />
            </button>
        </form>
    </div>
</script>


<script>
    document.getElementById('importButton').addEventListener('click', function () {
        document.getElementById('fileInput').click();
    });

    function uploadFile(input) {
        if (input.files && input.files[0]) {
            var token = document.getElementsByName("__RequestVerificationToken")[0].value;
            var fileName = input.files[0].name;
            var extension = fileName.split('.').pop().toLowerCase();
            if (extension !== 'csv') {
                displayError('Please select a CSV file.');
                return;
            }

            var formData = new FormData();
            formData.append('csvFile', input.files[0]);

            fetch('@Url.Action("ImportTransactions", "Transaction")', {
                method: 'POST',
                body: formData,
                headers: {
                'RequestVerificationToken': token
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    console.log('File uploaded successfully');
                    displayError('');
                    window.location.reload();
                } else {
                    console.error('Upload failed');
                    displayError(data.errorMessage);
                }
            })
            .catch(error => console.error('Error:', error));
        }
    }

    function displayError(message) {
        var errorElement = document.getElementById('errorContainer');
        if (message) {
            errorElement.innerHTML = message;
            errorElement.style.display = 'block';
        } else {
            errorElement.style.display = 'none';
        }
    }
</script>